$primarycolor: #b7c623;
$secondarycolor :#7e4d1d;
$thirdcolor: #f3f2f2;
$fourcolor: #b7c623;


@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

@import 'partial/header';
@import 'partial/navigation';
@import 'partial/footer';	
@import 'partial/index';
@import 'partial/menu';


